<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% load admin_urls %}
    <script src={% static 'js/jquery-3.2.1.min.js' %}></script>
    <meta charset="utf-8">
    <title>Ajax</title>
  </head>
  <body onload="ajax()">
    Nombre: <input type="text" name="nombre"><br>
    Correo: <input type="text" name="correo" value=""><br><br>
    <button id="btn">Registrar</button>
    <button><a href={% url 'index' %}>Regresar</a></button>
    <div id="contenedor">
    </div>
  </body>
  <script type="text/javascript">
//AJAX encargado de insertar en la BD
  $(document).ready(function(){
    $("#btn").click(function() {
      $.ajax({
          type: 'POST' ,
          url: '{% url 'ajax' %}',
          data:{
              csrfmiddlewaretoken: '{{ csrf_token }}',
              nombre: $("input[name='nombre']").val(),
              correo: $("input[name='correo']").val(),
          },
          success: function() {
            ajax();
          }
        });
      });
    });
//AJAX encargado de recuperar la información
  function ajax (){
              $.ajax({
              url: '{% url 'ajax' %}',
              success: function(response) {
                  result = response;
                  document.getElementById('contenedor').innerHTML = "";

                  $.each(result, function( key, value ) {
                    $.each(value, function(key, value){
                      title = ""
                      key == "mail" ? title = "Correo: " : title = "Nombre: ";
                      document.getElementById('contenedor').innerHTML +=
                      "<h1>"+title+value+"</h1>"
                    });
                  });
                }
              });
            }
  </script>
</html>
