<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Datos</title>
  </head>
  <body>
  <!-- Cuando se recupera más de un dato de un diccionario, es necesario
  utilizar 2 ciclos para recuperar la información que se necesite. -->
    {% for key1, values in a.items %}
      {% for key2, value in values.items %}
        <h1>{% cycle 'Usuario: ' 'Correo: ' %}{{value}}</h1>
      {% endfor %}
    {% endfor %}
    {% load admin_urls %}
    <button type="button"><a href= {% url 'index' %}>Regresar</a></button>
  </body>
</html>
