<!DOCTYPE html>
<html>
  <head>
    {% load admin_urls %}
    {% load static %}
    <script src={% static 'js/jquery-3.2.1.min.js' %}></script>
    <meta charset="utf-8">
    <title>Dictado</title>
  </head>
  <body id="cuerpo">
    Id del usuario: <input type="text" name="id"><br><br>
    <button id="btn">Decir</button>
    <audio id="audio" src=""></audio>
  </body>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#btn").click(function() {
      $.ajax({
          type: 'POST' ,
          url: '{% url 'dictado' %}',
          data:{
              csrfmiddlewaretoken: '{{ csrf_token }}',
              id: $("input[name='id']").val(),
          },
          success: function(response) {
            var audio = document.getElementById("audio");
            audio.src = response
            audio.play();
          }
        });
      });
    });
  </script>
</html>
