<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>PyStudent</title>
  <meta name="Sistema de Evaluación Académica" content="">
  <meta name="Luis Jorge Lozano" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load static %}
  {% load admin_urls %}
  <link rel="stylesheet" href={% static "css/normalize.css" %}>
  <link rel="stylesheet" href={% static "css/skeleton.css" %}>
  <link rel="stylesheet" href={% static "css/style-index.css" %}>
  <link rel="shortcut icon" href={% static "img/Edit.ico" %} />
  <style>
  /* Agregados por mi */
  .loader {
    position: relative;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: calc(50% - 50px);
    animation: spin 2s linear infinite;
    display: none;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #bocina{
    position: relative;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    cursor: pointer;
  }
  </style>
  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={% static "js/jquery-3.2.1.min.js" %}></script>
  <script src={% static "js/funciones.js" %}></script>
</head>
<body onload="cambiarPalabra()">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="section header">
    <div class="row">
      <div class="two columns option logo">PyStudent</div>
      <div class="six columns">&nbsp</div>
      <div class="two columns option cancel-option"><a href={% url 'instrucciones' %}>Regresar</a></div>
      <div class="two columns option cancel-option"><a href={% url 'index' %}>Cerrar Sesión</a></div>
    </div>
  </div>

  <div class="section center">
    <div class="container">
      <h5>Dictado de Palabras</h5>
      <div class="row speaker-container">
        <div class="four columns">&nbsp</div>
        <div class="box-option four columns">
          <a onclick="leerPalabra()"><div id="loader" class="loader"></div><img id="bocina" class="u-full-width" src={% static "/img/iconSpeaker.png" %} alt=""></a>
          <p>Presiona para escuchar</p>
        </div>
        <div class="four columns">&nbsp</div>
      </div>
      <div class="row">
        <div class="four columns">&nbsp</div>
        <input class="four columns" type="text" placeholder="Escribe la palabra..." id="palabraEscrita">
        <div class="four columns">&nbsp</div>
      </div>
      <div class="row">
        <div class="four columns">&nbsp</div>
        <div class="four columns"></div>
      </div>
      <div class="row">
        <button id="siguiente" onclick="cambiarPalabra()">Siguiente palabra</button>
      </div>
      <div class="row">
        <div class="four columns">&nbsp</div>
      </div>
      <div class="row">
        <p id="conteo">Palabra 1 de 20</p>
      </div>
    </div>
  </div>

  <div class="section footer">
    <button onclick="enviarPalabras()">Finalizar Dictado</button>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
<audio id="audio" src=""></audio>
<input id="token" type="hidden" value='{{ csrf_token }}'>
