<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Primer Comentario
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>PyStudent</title>
  <meta name="Sistema de Evaluación Académica" content="">
  <meta name="Luis Jorge Lozano" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load static %}
  {% load admin_urls %}
  <link rel="stylesheet" href={% static "css/normalize.css" %}>
  <link rel="stylesheet" href={% static "css/skeleton.css" %}>
  <link rel="stylesheet" href={% static "css/style-index.css" %}>
  <link rel="shortcut icon" href={% static "img/Edit.ico" %} />

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section header">
    <div class="row">
      <div class="six columns">&nbsp</div>
      <div class="two columns option">&nbsp</div>
      <div class="two columns option"><a href={% url 'login' %}>Iniciar Sesión</a></div>
      <div class="two columns selected option"><a href={% url 'registro' %}>Regístrate</a></div>
    </div>
  </div>

  <div class="section center">
    <div class="container">
      <h1>PyStudent</h1>
      <h5>Evalúate, aprende y mejora</h5>
      <p>PyStudent es la primera plataforma gratuita que permite a los estudiantes evaluar sus conocimientos en diversas áreas de manera continua con el objetivo de mejorar y crecer académicamente.</p>
      <button><a href={% url 'registro' %}>Regístrate Gratis</a></button>
    </div>
  </div>

  <div class="section images">
    <div class="container">
      <div class="row">
        <h4>Conoce más de nuestro proyecto</h4>
        <p>En este video ilustramos nuestra visión y compromiso con la educación en México, creemos que la tecnología es una herramienta de gran apoyo en esta importante tarea.</p>
        <video class="u-max-full-width" src={% static "img/videoIndex.mp4"%} controls>
        </video>
      </div>
    </div>
  </div>

  <div class="section footer">
    <div class="container">
      <p>Facultad de Informática - Universidad Autónoma de Querétaro</p>
    </div>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
