<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>PyStudent</title>
  <meta name="Sistema de Evaluación Académica" content="">
  <meta name="Luis Jorge Lozano" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load static %}
  {% load admin_urls %}
  <link rel="stylesheet" href={% static "css/normalize.css" %}>
  <link rel="stylesheet" href={% static "css/skeleton.css" %}>
  <link rel="stylesheet" href={% static "css/style-general.css" %}>
  <link rel="shortcut icon" href={% static "img/Edit.ico" %} />
  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={% static "js/jquery-3.2.1.min.js" %}></script>
  <script src={% static "js/funciones.js" %}></script>
</head>
<body onload="cargarEstados()">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section header">
    <div class="row">
      <div class="two columns option logo"><a href={% url 'index' %}>PyStudent</a></div>
      <div class="eight columns">&nbsp</div>
      <div class="two columns option cancel-option"><a href={% url 'login' %}>Inicia Sesión</a></div>
    </div>
  </div>

  <div class="section center">
    <div class="container width60">
      <h5>Queremos saber sobre ti</h5>
      <p>Estás a unos pasos de comenzar a crecer académicamente, completa la siguiente información para vivir la experiencia PyStudent.</p>
      <div class="row">
        <div class="six columns">
          <input class="u-full-width" type="text" placeholder="¿Cómo te llamas?" id="nombreRegistro">
        </div>
        <div class="six columns">
          <input class="u-full-width" type="text" placeholder="¿Cuáles son tus apellidos?" id="apellidosRegistro">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="exampleMessage">¿Cuál es tu fecha de nacimiento?</label>
        </div>
        <div class="six columns">
          <select id="dia" class="four columns" name="diaNacimiento" >
            <option value="" disabled hidden selected>Día</option>
          </select>
          <select id="mes" class="four columns" name="mesNacimiento">
            <option value="" disabled hidden selected>Mes</option>
          </select>
          <select id="anio" class="four columns" name="anioNacimiento">
            <<option value="" disabled hidden selected>Año</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="exampleMessage">¿En que estado de la república vives?</label>
        </div>
        <div class="six columns">
          <select id="estado" class="u-full-width" name="estadoActual">
            <option value="" hidden disabled selected>Seleccione un Estado</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="exampleMessage">Ingresa tu correo electrónico</label>
        </div>
        <div class="six columns">
          <input class="u-full-width" type="email" placeholder="mail@example.com" id="emailRegistro">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <input class="u-full-width" type="password" placeholder="Ingrese una Contraseña" id="contraseniaRegistro">
        </div>
        <div class="six columns">
          <input class="u-full-width" type="password" placeholder="Verifique su Contraseña" id="contraseniaVerificarRegistro">
        </div>
      </div>
      <p>Si no cuentas con un correo electrónico puedes pedirle a un adulto que realice el registro por ti</p>
    </div>
  </div>

  <div class="section footer">
    <button onclick="registrar()">Continuar</button>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
<input id="token" type="hidden" value='{{ csrf_token }}'>
