<!DOCTYPE html>
<html>
  <head>
    {% load admin_urls %}
    {% load static %}
    <script src={% static 'js/jquery-3.2.1.min.js' %}></script>
    <meta charset="utf-8">
    <title>Funcionó</title>
  </head>
  <body>
    <h1>Registrar</h1>
    <form action={% url 'registro' %} method="POST">
      {% csrf_token %}
      Nombre: <input type="text" name="nombre"><br>
      Correo: <input type="text" name="correo"><br><br>
      <input type="submit" name="button" value="Registrar">
    </form>
    <button onclick=""><a href={% url 'index' %}>Regresar</a></button>
    <h1>{{ aviso }}</h1>
  </body>
</html>
