<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>PyStudent</title>
  <meta name="Sistema de Evaluación Académica" content="">
  <meta name="Luis Jorge Lozano" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="http//:www.fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load static %}
  {% load admin_urls %}
  <link rel="stylesheet" href={% static "css/normalize.css" %}>
  <link rel="stylesheet" href={% static "css/skeleton.css" %}>
  <link rel="stylesheet" href={% static "css/style-general.css" %}>
  <link rel="shortcut icon" href={% static "img/Edit.ico" %} />
  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={% static "js/jquery-3.2.1.min.js" %}></script>
  <script src={% static "js/funciones.js" %}></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section header">
    <div class="row">
      <div class="two columns option logo">PyStudent</div>
    </div>
  </div>

  <div class="section center">
    <div class="container width95">
      <h5>Resultados</h5>
      <p>Escribiste correctamente 17 palabras de 20 dictadas<br>Listado Completo de Palabras</p>
      <div class="row">
        <div class="three columns">
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">1</div>
            <div class="five columns">Bondadoso</div>
            <div class="five columns">Bondadoso</div>
          </div>
          <!--Palabra-->
          <div class="row word wrong">
            <div class="two columns">2</div>
            <div class="five columns">Prohibido</div>
            <div class="five columns">Prohibido</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">3</div>
            <div class="five columns">Observa</div>
            <div class="five columns">Observa</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">4</div>
            <div class="five columns">Abusivo</div>
            <div class="five columns">Abusivo</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">5</div>
            <div class="five columns">Atravesó</div>
            <div class="five columns">Atravesó</div>
          </div>
        </div>

        <div class="three columns">
          <!--Palabra-->
          <div class="row word wrong">
            <div class="two columns">6</div>
            <div class="five columns">Soberbio</div>
            <div class="five columns">Sobervio</div>
          </div>
          <!--Palabra-->
          <div class="row word ">
            <div class="two columns">7</div>
            <div class="five columns">Venenosa</div>
            <div class="five columns">Venenosa</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">8</div>
            <div class="five columns">Jueves</div>
            <div class="five columns">Jueves</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">9</div>
            <div class="five columns">Venado</div>
            <div class="five columns">Venado</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">10</div>
            <div class="five columns">Beneficios</div>
            <div class="five columns">Beneficios</div>
          </div>
        </div>

        <div class="three columns">
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">11</div>
            <div class="five columns">Prueba</div>
            <div class="five columns">Prueba</div>
          </div>
          <!--Palabra-->
          <div class="row word ">
            <div class="two columns">12</div>
            <div class="five columns">Tradicional</div>
            <div class="five columns">Tradicional</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">13</div>
            <div class="five columns">Cadáver</div>
            <div class="five columns">Cadáver</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">14</div>
            <div class="five columns">Veloz</div>
            <div class="five columns">Veloz</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">15</div>
            <div class="five columns">Hervida</div>
            <div class="five columns">Hervida</div>
          </div>
        </div>

        <div class="three columns">
          <!--Palabra-->
          <div class="row word wrong">
            <div class="two columns">16</div>
            <div class="five columns">Herbívoro</div>
            <div class="five columns">Hervívoro</div>
          </div>
          <!--Palabra-->
          <div class="row word ">
            <div class="two columns">17</div>
            <div class="five columns">Carnaval</div>
            <div class="five columns">Carnaval</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">18</div>
            <div class="five columns">Movimiento</div>
            <div class="five columns">Movimiento</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">19</div>
            <div class="five columns">Demasiado</div>
            <div class="five columns">Demasiado</div>
          </div>
          <!--Palabra-->
          <div class="row word">
            <div class="two columns">20</div>
            <div class="five columns">Zinapécuaro</div>
            <div class="five columns">Zinapécuaro</div>
          </div>
        </div>
      </div>
      <p>Tiempo Total: 04:07:54</p>
    </div>

    <div class="section footer">
      <a href={% url 'materia' %}><button>Listo</button></a>
    </div>

    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
  </html>
