<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>PyStudent</title>
  <meta name="Sistema de Evaluación Académica" content="">
  <meta name="Luis Jorge Lozano" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="http//:www.fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load static %}
  {% load admin_urls %}
  <link rel="stylesheet" href={% static "css/normalize.css" %}>
  <link rel="stylesheet" href={% static "css/skeleton.css" %}>
  <link rel="stylesheet" href={% static "css/style-general.css" %}>
  <link rel="shortcut icon" href={% static "img/Edit.ico" %} />
  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={% static "js/jquery-3.2.1.min.js" %}></script>
  <script src={% static "js/funciones.js" %}></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section header">
    <div class="row">
      <div class="two columns option logo">PyStudent</div>
    </div>
  </div>
  <!-- {% for animal, how_many in animals_data %}
      {{ animal }} {{ how_many }}
  {% endfor %} -->
  <div class="section center">
    <div class="container width95">
      <h5>Resultados</h5>
      <p>Escribiste correctamente {{ aciertos }} palabras de 20 dictadas<br>Listado Completo de Palabras</p>
      <div class="row">
        {% for pu, pc in palabras %}
        {% if forloop.counter0|divisibleby:5 %}
        <div class="three columns">
        {% endif %}
          <!--Palabra-->
          {% if pu == pc %}
          <div class="row word">
          {% else %}
          <div class="row word wrong">
          {% endif %}
            <div class="two columns">{{ forloop.counter }}</div>
            <div class="five columns">{{pu}}</div>
            <div class="five columns">{{pc}}</div>
          </div>
        {% if forloop.counter|divisibleby:5 %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <p>Tiempo Total: {{ time }}</p>
    </div>
    <div class="section footer">
      <a href={% url 'materia' %}><button>Listo</button></a>
    </div>
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
  </html>
