<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>PyStudent</title>
  <meta name="Sistema de Evaluación Académica" content="">
  <meta name="Luis Jorge Lozano" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="http//:www.fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="public/css/normalize.css">
  <link rel="stylesheet" href="public/css/skeleton.css">
  <link rel="stylesheet" href="public/css/style-general.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section header">
    <div class="row">
      <div class="two columns option logo">PyStudent</div>
      <div class="two columns">&nbsp</div>
      <div class="two columns option cancel-option selected">Evaluaciones</div>
      <div class="two columns option cancel-option">Estadísticas</div>
      <div class="two columns option cancel-option">Configuración</div>
      <div class="two columns option cancel-option">Cerrar Sesión</div>
    </div>
  </div>

  <div class="section center">
    <div class="container">
      <h5>Bienvenido Luis Jorge</h5>
      <p>Seleccione el área de estudios que deseas evaluar</p>
      <div class="row">
        <div class="box-option four columns">
          <img class="u-full-width" src="public/img/iconTopic.png" alt="">
          <p>Ortografía y Gramática</p>
        </div>
      </div>
    </div>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
