.width60{
  width: 60% !important;
}

.width50{
  width: 50% !important;
}

.width95{
  width: 95% !important;
}

body{

}

.selected{
  color: #27C79A;
  font-weight: 600;
}

button{
  background-color: #27C79A;
  color: white;
  border-color: transparent;
}

button:hover{
  background-color: #27C79A;
  color: white;
  border-color: transparent;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select{
  border: 2px solid #EBEBEB;
  outline: 0;
  border-radius: 10px;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus{
  border: 2px solid #EBEBEB;
  outline: 0;
}

.section{
  text-align: center;
}

.section p{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background: white;
  padding: 25px;
}

.header a{
  font-weight: 500;
  color: #333E50;
  text-decoration: none;
}

.header a:hover{
  font-weight: 600;
}

.option{
  cursor: pointer;
  line-height: 4rem;
}

.logo{
  font-weight: 600;
  font-size: 30px;
}

.logo a, .logo a:hover, .logo a:active, .logo a:link, .logo a:visited{
  font-weight: 600;
  font-size: 30px;
  color: #333E50;
  text-decoration: none;
}

.center{
  padding: 5rem 0 5rem;

}

.center h5{
  color: #333E50;
  font-weight: 500;
}

.center p{
  color: #333E50;
  font-weight: 400;
}

.center label{
  color: #333E50;
  font-weight: 400;
  text-align: left;
  line-height: 4rem;
}

.center .forgot-password{
  cursor: pointer;
}

.center .forgot-password:hover{
  font-weight: 500;
}

.box-option{
  height: 200px;
  border: solid 2px #EBEBEB;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.box-option img{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100px;
  transition: all 0.2s;
}

.box-option p{
  color: #333E50;
  font-weight: 400;
  transition: all 0.2s;
}

.box-option:hover{
  height: 205px;
}

.box-option:hover img{
  width: 105px;
}

.box-option:hover p{
  font-weight: 500;
}

.box-option-word{
  max-height: 200px !important;
}

.grade-container{
  margin-bottom: 20px;
}

.box-grade{
  height: 100px;
  border: solid 3px #EBEBEB;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.box-grade-selected{
  background-color: #27C79A;
  border: solid 3px #27C79A;
}

.box-grade-selected h1{
  color: white !important;
}

.box-grade h1{
  color: #333E50;
  font-weight: 400;
  line-height: 9rem;
  transition: all 0.2s;
}

.box-grade:hover{
  background-color: #27C79A;
  border: solid 3px #27C79A;
}

.box-grade:hover h1{
  color: white;
}

.speaker-container{
  margin-bottom: 20px;
}

.word{
  margin-bottom: 30px;
}

.wrong{
  color: #D12329 !important;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 10px 25px 0px #000000;
  background: white;
}

.footer button{
  margin-top: 1rem;
  float: right;
  margin-right: 1rem;
}

/*---------- Dictation Syles-----------*/

.loader {
  position: relative;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
  left: calc(50% - 50px);
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#bocina{
  position: relative;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  cursor: pointer;
}

/*----------Notification Styles----------*/

#ventana_notificaciones {
    position: absolute;
    z-index: 10004;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
    width: 400px;
    height: 190px;
    margin: auto;
    transition: opacity .4s;
    transition-delay: .1s;
    opacity: 1;
    border-radius: 5px;
    background: white;
    box-shadow: 0 10px 20px rgba(180,180,180,0.19), 0 6px 6px rgba(200,200,200,0.23);
}

#notificaciones_encabezado {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background: rgb(217,93,107);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.notificaciones_encabezado_ok {
    background: #27C79A !important;
}

#notificaciones_encabezado h1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-weight: 500 !important;
}

.informacion_notificacion {
    position: relative;
    top: 60px;
    box-sizing: border-box;
    height: 75px;
    padding: 0px 20px 0 20px;
    text-align: center;
}

.informacion_notificacion p {
    font-size: 0.95em;
    line-height: 18px;
    padding-top: 25px;
    letter-spacing: 0.4px;
    color: #333E50;
    font-weight: 400;
}

.pie_notificaciones_general {
    position: relative;
    top: 60px;
    overflow-y: auto;
    width: 100%;
    height: 55px;
    margin: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: transparent;
}

.guardar_btn {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 200px;
    height: 34px;
    margin: auto !important;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    border: none;
    background: rgb(217,93,107);
    border-radius: 4px;
    outline: none;
    line-height: 30px;
    font-size: 11px;
    font-weight: 600;
}

.guardar_btn_ok{
  background: #27C79A !important;
}

/*-----------Grid Notification-----------*/

.divMedio, .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10, .div11, .div12, .div12Relacion3 {
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 1%;
}

.divMedio {
    width: 3.66%;
}

.div1 {
    width: 7.33%;
}

.div2 {
    width: 15.66%;
}

.div3 {
    width: 23.99%;
}

.div4 {
    width: 32.33%;
}

.div5 {
    width: 40.65%;
}

.div6 {
    width: 48.98%;
}

.div7 {
    width: 57.31%;
}

.div8 {
    width: 65.64%;
}

.div9 {
    width: 73.97%;
}

.div10 {
    width: 82.3%;
}

.div11 {
    width: 90.63%;
}

.div12 {
    width: 99%;
}

.break {
    float: left;
    clear: both;
    width: 100%;
    height: 2px;
}

/*---------- No Compatible Styles-----------*/

.no-compatible{
  position: fixed;
  background: white;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.no-compatible h1{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  margin: auto;
  text-align: center;
  color: #333E50;
  font-size: 1.4em;
  font-weight: 500 !important;
}

/*---------- Loading Syles ------------*/

.no-visible{
  visibility: hidden;
}

.background-loading{
  background-color: rgba(255,255,255,0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.loading-div{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  margin: auto;
  width: 60px;
  height: 60px;
  z-index: 1000;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #27C79A;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
      } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }

    @keyframes sk-foldCubeAngle {
      0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
        } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
          } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
          }
        }
